body{
    font-family: "League Spartan", sans-serif;
    height: 100%;
}
aside{
    width: 280px;
}
div#aside{
    background-color: #1F2833;
    height: auto;
}
h4{
    font-size: 1.5rem;
    font-weight: bold;
}
.card{
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
}
.card-img-top {
    height: 200px;
    object-fit: cover; /* Esto asegura que la imagen cubra bien el espacio */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
p, a{
    color: white;
}
.card-title{
    color: #66FCF1;
    font-weight: 500;
    text-align: justify;

}
#compu{
    text-align: left;
}
#boton{
    background-color: #66FCF1;
    color: black;
    width: auto;
    margin-left: 0;
    align-self: flex-start;
}
#boton:hover{
    background-color: #3a8f8a;
    color: black;
    width: auto;
    margin-left: 0;
    align-self: flex-start;
}
/*color:#45A29E;*/

#eliminar{
    background-color: white;
    color: black;
}
#eliminar:hover{
    background-color: rgb(204, 204, 204);
    color: black;
}
#editar{
    background-color: white;
    color: black;
}
#editar:hover{
    background-color: rgb(204, 204, 204);
    color: black;
}
#btnGuardar{
    color: white;
    background-color: black;
}