*{
    margin: 0;
    padding: 0;
    /*font-family: "Source Code Pro", monospace;*/
}
header {
    background-color: #1F2833;
    padding: 20px;
    height: 70px;
    font-family: "League Spartan", sans-serif;
    font-size: 1.7rem;
}
.logo > a > img{
    width: 120px;
    height: 100px;
    margin-top: -15px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
} 
.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
.login{
    background-color: #0B0C10;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.nav ul li a.register {
    background-color: #66FCF1;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-align: center;
}