/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100vw; 
        overflow-x: hidden; 
        height: 100%;
    }
    .signup-container {
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        height: 100%;
    }
    .welcome-section {
        display: none;
    }
    .form-section {
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        height: 1200px;
        justify-content: center;
    }
    .password-group {
        position: relative;
        margin-bottom: 1rem;
    }
    .password-group > input{
        width: 100%;
        font-size: 1.5rem;
    }
    .eye-icon {
        position: absolute;
        right: 10px;
        margin-top: 1.5rem;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 2.5rem;
    }
    .form-section > h2{
        font-size: 3.5rem;
    }
    .input-group {
        display: block; 
        font-size: 1.5rem;
    }
    .input-group > input {
        width: 100%;
        font-size: 1.5rem;
    }
    input[type="email"] {
        width: 100%;
        font-size: 1.5rem;
    }
    #confirmPassword, #password {
        width: 100%;
        font-size: 1.5rem;
    }
    .birthday {
        flex-direction: column;
        gap: 15px;
    }
    .birthday > select {
        width: 100%;
        font-size: 1.5rem;
    }
    .signup-btn {
        width: 100%;
        height: 60px;
        padding: 10px;
        font-size: 2rem;
    }
    #justify, #center {
        text-align: center;
    }
    .checkbox-group > label {
        font-size: 1.5rem;
    }
    #justify > p {
        font-size: 1.5rem;
        margin-top: 25px;
    }
    #center{
        margin-top: -10px;
    }
    #center > p{
        padding-top: 20px;
        font-size: 1.5rem;
    }
    body::-webkit-scrollbar{
        display: none;
    }
}

/*SURFACE DUO*/
@media only screen and (min-width: 540px) and (max-width: 720px){
    html, body {
        margin: 0;
        padding: 0;
        width: 100vw; 
        overflow-x: hidden; 
        height: 100%;
        box-sizing: border-box; 
    }
    .signup-container {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh; 
        overflow-y: auto; 
    }
    .welcome-section {
        display: none;
    }
    .form-section {
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        justify-content: center;
    }
    .password-group {
        position: relative;
        margin-bottom: 1rem;
    }
    .password-group > input{
        width: 100%;
        font-size: 1.5rem;
    }
    .eye-icon {
        position: absolute;
        right: 10px;
        margin-top: 1.5rem;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 2.5rem;
    }
    .form-section > h2{
        font-size: 3.5rem;
    }
    .input-group {
        display: block; 
    }
    .input-group > input {
        width: 100%;
        font-size: 1.5rem;
    }
    input[type="email"] {
        width: 100%;
        font-size: 1.5rem;
    }
    input[type="email"] {
        width: 100%;
        font-size: 1.5rem;
    }
    .birthday {
        flex-direction: column;
        gap: 15px;
        
    }
    .birthday > select {
        width: 100%;
        font-size: 1.5rem;
    }
    .signup-btn {
        width: 100%;
        height: 60px;
        padding: 10px;
        font-size: 2rem;
    }
    #justify, #center {
        text-align: center;
    }
    .checkbox-group > label {
        font-size: 1.5rem;
    }
    #justify > p {
        font-size: 1.5rem;
        margin-top: 25px;
    }
    #center{
        margin-top: -10px;
    }
    #center > p{
        padding-top: 20px;
        font-size: 1.5rem;
    }
    body::-webkit-scrollbar{
        display: none;
    }
}
/*CELULAR*/
@media only screen and (max-width: 480px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100vw; 
        overflow-x: hidden; 
        height: 100vh;
    }
    .signup-container {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    .welcome-section {
        display: none;
    }
    .form-section > a > img{
        width: 40%;
        padding-top: 7px;
    }
    .form-section {
        width: 95%;
        margin: 0 auto;
        padding-top: 50px;
        height: 100%;
    }
    .form-section > h2{
        font-size: 1.8rem;
        margin-top: -10px;
        
    }
    #center{
        height: auto;
        margin-top: 15px;
        padding-bottom: 40px;
    }
    .input-group {
        display: block; /* Hacemos que los campos de entrada se apilen */
    }
    .input-group > input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1rem; 
    }
    input[type="email"], input[type="password"] {
        width: 100%;
    }
    .birthday {
        flex-direction: column;
        gap: 10px;
    }
    .birthday > select {
        width: 100%;
    }
    .signup-btn {
        width: 100%;
        padding: 10px;
    }
    #justify, #center {
        text-align: center;
    }
    .checkbox-group > label {
        font-size: 1rem;
    }
}