*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1F2833;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.signup-container {
    display: flex;
    background-color: #1F2833;
    width: 100%;
    height: auto;
}
.welcome-section {
    width: 50%;
    position: relative;
    /*animation: moveLeftRight 10s ease-in-out infinite*/
    transition: transform 2s ease; 
    order: 1;
}
.welcome-section:hover{
    transform: translate(50px);
}
.welcome-section > img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;   
}
.welcome-section > h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    background-color: black;
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 1000;
    padding: 10px;
    top: 2%;
    left: 15%;
}
.welcome-section > h1 > span {
    color: #45A29E;
}
.form-section {
    padding: 40px;
    width: 40%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    order: 2;
}
.form-section > a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section > a > img{
    width: 160px;
    height: 60px;
    margin-top: -30PX;
    align-items: center;
    margin-bottom: 25px;
}
.form-section > h2 {
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "League Spartan", sans-serif;
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;

}
.form-section > h2 > span {
    color: #45A29E;
}
.form-section > form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-section > form > label{
    color: #fff;
    font-family: "League Spartan", sans-serif;
    margin-bottom: 10px;
}
.input-group {
    display: flex;
    justify-content: space-between;
}
input{
    font-size: 1rem;
}
.input-group > input {
    width: 48%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
select{
    font-size: 1rem;
}
.birthday {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}
.birthday > select {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
}
.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.checkbox-group > input {
    margin-right: 10px;
}
.checkbox-group > label{
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
}
.signup-btn {
    padding: 15px;
    background-color: #66FCF1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "League Spartan", sans-serif;
}
.signup-btn:hover {
    background-color: #000;
    color: #fff;
}
#justify{
    text-align: center;
}
#justify > p {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    font-size: 1rem;
    font-family: "League Spartan", sans-serif;
}
#justify > p > a {
    color: #45A29E;
    text-decoration: none;
}
#justify > p > a:hover {
    text-decoration: underline;
}
#center{
    text-align: center;
}
#center > p{
    margin-top: 25px;
    font-size: 14px;
    color: #fff;
    font-size: 1.1rem;
    font-family: "League Spartan", sans-serif;
}
#center > p > a{
    color: #45A29E;
    text-decoration: none;
}
#center > p > a:hover{
    text-decoration: underline;
}


/*Modificar barra de scroll*/
body::-webkit-scrollbar{
    width:15px;
}
body::-webkit-scrollbar-thumb{
    background-color: #66FCF1;

}
body::-webkit-scrollbar-thumb:hover{
    background-color: #45A29E;
}